<a class="book-item" routerLink="/detail/{{book.id}}">
  <div class="panel">
    <div class="panel-heading text-center">
      <h4 class="book-title">{{book.title}}</h4>
    </div>
    <div class="panel-body">
      <ul class="book-info-list">
        <li>Amount: <span>{{book.words.length}}</span></li>
        <li>Marked: <span>{{getMarked(book.words)}}</span></li>
        <li>Comments: &nbsp;<i *ngIf="!book.comments" class="fas fa-times comments-ico minus-ico"></i><i *ngIf="book.comments" class="fas fa-check comments-ico plus-ico"></i></li>
      </ul>
    </div>
  </div>
</a>
