$color-main: #000;
$panel-heading-color: #00AB83;
$panel-heading-font-color: #fff;
$close-color: #d20101;

.book-item {
  margin: 0 10px 20px;
  border-radius: 7px;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: $color-main;
}

.panel {
  background-color: $panel-heading-font-color;
  .panel-heading {
    background-color: $panel-heading-color;
    color: $panel-heading-font-color;
    padding: 15px;
    font-size: 18px;
    position: relative;

    .book-title {
      margin: 0;
      font-size: 18px;
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  .panel-body {
    padding: 15px;
    .book-info-list {
      font-size: 16px;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 5px 0;
      line-height: 1.2;
    }
  }
}
.text-center {
  text-align: center;
}
.comments-ico {
  vertical-align: middle;
  font-size: 13px;
  color: $panel-heading-color;

  &.minus-ico {
    color: $close-color;
  }

  &.plus-ico {
    color: $panel-heading-color;
  }
}
